<app-public-header></app-public-header>
<router-outlet></router-outlet>
<!-- <app-home></app-home> -->

<footer id="footer" class="footer-1">
  <div class="main-footer widgets-dark typo-light">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget subscribe no-box">
            <h5 class="widget-title">Mero News<span></span></h5>
            <p>About the meronews, Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae facere libero
              consequatur, voluptatibus porro dicta dolorum voluptas veniam odio cupiditate tempore suscipit eligendi
            </p>
          </div>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget no-box">
            <h5 class="widget-title">Quick Links<span></span></h5>
            <ul class="thumbnail-widget">
              <li>
                <div class="thumb-content"><a href="#.">&nbsp;Get Started</a></div>
              </li>
              <li>
                <div class="thumb-content"><a href="#.">&nbsp;About us</a></div>
              </li>
              <li>
                <div class="thumb-content"><a href="#.">&nbsp;Contact Us</a></div>
              </li>
              <li>
                <div class="thumb-content"><a href="#.">&nbsp;News</a></div>
              </li>
              <li>
                <div class="thumb-content"><a href="#.">&nbsp;Articles</a></div>
              </li>
              <li>
            </ul>
          </div>
        </div>



        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget no-box">
            <h5 class="widget-title">Follow up<span></span></h5>
            <a href="#" class="mr-2"> <i class="fa fa-facebook"> </i> </a>
            <a href="#" class="mr-2"> <i class="fa fa-twitter"> </i> </a>
            <a href="#" class="mr-2"> <i class="fa fa-youtube"> </i> </a>
          </div>
          <div class="mt-3">
            <form class="emailfield">
              <input type="text" name="email" value="Email">
              <input name="uri" type="hidden" value="arabiantheme">
              <input name="loc" type="hidden" value="en_US">
              <input class="submitbutton ripplelink" type="submit" value="Subscribe">
            </form>
          </div>
        </div>
        <br>
        <br>


        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget no-box">
            <h5 class="widget-title">Contact Us<span></span></h5>
            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus eaque illum expedita eos dolorem
              blanditiis, exercitationem doloremque, quibusdam velit.</p>
            <b>
              Phone : +977-980-456-7890
            </b>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="footer-copyright text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="text-center">Copyright Design Pushpa Raj Dangi© 2022. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
